/* ==========================
   LIGHT THEME (Default)
========================== */

:root{

    --bg-color:#f5f7fb;

    --card-color:#ffffff;

    --sidebar-color:#1DB954;

    --navbar-color:#ffffff;

    --accent-color:#1ED760;

    --text-color:#212529;

    --text-secondary:#6c757d;

    --border-color:#e5e7eb;

}

/* ==========================
   DARK THEME
========================== */

[data-theme="dark"]{

    --bg-color:#121212;

    --card-color:#181818;

    --sidebar-color:#1DB954;

    --navbar-color:#181818;

    --accent-color:#1ED760;

    --text-color:#ffffff;

    --text-secondary:#b3b3b3;

    --border-color:#2d2d2d;

}

/* ==========================
   GLOBAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Inter",sans-serif;

    background:var(--bg-color);

    color:var(--text-color);

    transition:0.3s ease;

}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6{
    color:var(--text-color);
}

/* Paragraphs */

p{
    color:var(--text-color);
}

/* Labels */

label{
    color:var(--text-color);
}

/* Span */

span{
    color:var(--text-color);
}

/* Small text */

small{
    color:var(--text-secondary);
}

/* Form controls */

input,
select,
textarea{
    background:var(--card-color);
    color:var(--text-color);
    border:1px solid var(--border-color);
}

input::placeholder,
textarea::placeholder{
    color:var(--text-secondary);
}


a{
    text-decoration:none;
    color:inherit;
}

.text-secondary{
    color:var(--text-secondary)!important;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#666;
    border-radius:20px;
}